/**
 *  LeMarson Animated logo
 *  @author franckysolo
 *  @date 16/02/2018
 */
$color-1: #32A4DA;
$color-2: #9D84BE;
$color-3: #DA569F;
$color-4: #F04033;
$color-5: #F79F48;
$color-6: #FFCA08;
$color-7: #99CB52;
$color-8: #3CB54C;
$color-9: #1FBCC1;
$color-10: #679AD3;

$ratio: 1.732;

@mixin resetsize {
  width: 0;
  height: 0;
}

@mixin arrow-left($color, $size: 25px) {
  @include resetsize;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: ($size * $ratio) solid $color;
}

@mixin arrow-right($color, $size: 25px) {
  @include resetsize;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: ($size * $ratio) solid $color;
}

@mixin arrow-up($color, $size: 25px) {
  @include resetsize;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: ($size * $ratio) solid $color;
}

@mixin arrow-down($color, $size: 25px) {
  @include resetsize;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: ($size * $ratio) solid $color;
}

.t {
  position: absolute;
  transition: all ease-in-out .3s;
  opacity: 0.7;
  animation: deploy 2s alternate-reverse 1s 2;
  &:hover {
    opacity: 0.9;
    transform: rotateZ(360deg);
  }
}

.t1 {
  @include arrow-left($color-1);
  left: 50px;
  bottom: 75px;
}
.t2 {
  @include arrow-right($color-2);
  left: 50px;
  bottom: 100px;
}
.t3 {
  @include arrow-left($color-3);
  left: 50px;
  bottom: 125px;
}
.t4 {
  @include arrow-right($color-4);
  left: 93.3px;
  bottom: 125px;
}
.t5 {
  @include arrow-left($color-5);
  left: 93.3px;
  bottom: 100px;
}
.t6{
  @include arrow-right($color-6);
  left: 136px;
  bottom: 100px;
}
.t7 {
  @include arrow-left($color-7);
  left: 136px;
  bottom: 125px;
}
.t8{
  @include arrow-right($color-8);
  left: 179.3px;
  bottom: 125px;
}
.t9 {
  @include arrow-left($color-9);
  left: 179.3px;
  bottom: 100px;
}
.t10{
  @include arrow-right($color-10);
  left: 179.3px;
  bottom: 75px;
}

.animate-logo {
  perspective: 267px;
  width: 267px;
  height: 200px;
  margin: auto;
  display: block;
  position: relative;
  border: 1px solid #eee;
  transition: all ease-in-out .3s;
  h1 {
    font-family: arial;
    text-align: center;
    color: #555;
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0 auto;
  }
}

@keyframes deploy {
  from {
    left: 110px;
    bottom: 100px;
    opacity: 0;
    transform: rotate(0);
  }
  to {
    opacity: 0.7;
    transform: rotate(360deg);
  }
}
