/**
 *  LeMarson Animated logo
 *  @author franckysolo
 *  @date 16/02/2018
 */
@import url("https://fonts.googleapis.com/css?family=Mukta+Malar");
body {
  font-family: 'Mukta Malar', sans-serif; }

.t {
  position: absolute;
  transition: all ease-in-out .3s;
  opacity: 0.9;
  animation: deploy 2s alternate-reverse 1s 2; }
  .t:hover {
    opacity: 1;
    transform: rotateZ(360deg); }

.t1 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 43.3px solid #c43108;
  left: 50px;
  bottom: 75px; }

.t2 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 43.3px solid #c43108;
  left: 50px;
  bottom: 100px; }

.t3 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 43.3px solid #c43108;
  left: 50px;
  bottom: 125px; }

.t4 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 43.3px solid #c43108;
  left: 93.3px;
  bottom: 125px; }

.t5 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 43.3px solid #c43108;
  left: 93.3px;
  bottom: 100px; }

.t6 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 43.3px solid #c43108;
  left: 136px;
  bottom: 100px; }

.t7 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 43.3px solid #c43108;
  left: 136px;
  bottom: 125px; }

.t8 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 43.3px solid #c43108;
  left: 179.3px;
  bottom: 125px; }

.t9 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 43.3px solid #c43108;
  left: 179.3px;
  bottom: 100px; }

.t10 {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 43.3px solid #c43108;
  left: 179.3px;
  bottom: 75px; }

.animate-logo {
  perspective: 267px;
  width: 267px;
  height: 200px;
  margin: auto;
  display: block;
  position: relative;
  border: 1px solid #eee;
  transition: all ease-in-out .3s; }
  .animate-logo h1 {
    text-align: center;
    color: #555;
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 0 auto; }

@keyframes deploy {
  from {
    left: 110px;
    bottom: 100px;
    opacity: 0;
    transform: rotate(0); }
  to {
    opacity: 0.9;
    transform: rotate(360deg); } }
